<h1>Admin</h1>

<div ng-controller="AdminController">
  <%= form_tag do %>
    <div class="field">
      Set IP and port: <%= text_field_tag(:ip, MySettings.ip, class: "smallinput") %>
      <%= submit_tag("Save", class: "admin") %>
    </div>

  <% end %>
</div>



<h3>Top Questions</h3>

<table class="text--left text--readability">
  <thead>
    <th>Question</th>
    <th>Options</th>
    <th>Votes</th>
  </thead>
  <tbody>
    <% @questions.each do | question | %>
    <tr>
      <td><%= link_to question.title, "/#{question.secret}/results" %></td>
      <td><%= question.options.count %></td>
      <td><%= question.votes.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>
